* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
   /* font-size: 14px; */
    --header-bg-color:#9C0000;
    --bg-color: #E1E2E1;
    --button-bg-color: #D60000;
    --text-color: #01161E;
    --drk-shadow-color: #000000;
    --light-shadow-color: #FBFEF9;
    --error-bg-color: #FF7400;
    --body-font-size: 1.2vmin; /* vmin använder antingen 1.5vh eller 1.5vw beroende på vilken av sidorna som är kortast */
    --header-font-family: 'Limelight', ;           /* Även om dessa två fonter ej är "familjer" har google valt att använda sig av font-family oavsettm vilket binder mig till att också göra det */
    --body-font-family: 'Open Sans', ;
}
 

body {
    display: flex;
    width: 100%; /* ev ändra till vw */
    height: 100%; /* ev ändra till vh */
    flex-direction: column;
    background-color: var(--bg-color);
    justify-content: space-between;
    align-items: center;
}

.status_bar {
    flex: 0.2 0.2 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--button-bg-color);
    width: 100%; /*ev ändra till vw */
   /* min-height: 20px;
    max-height: 40px; */
}

header {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    background-color: var(--header-bg-color);
    width: 100%; /*ev ändra till vw */
   /* min-height: 100px;
    max-height: 150px;*/
    justify-content: space-around; /* ev byt till space-between */
    align-items: center;
}

button.small {
    background-image: url("../img/englandflag3.webp");
    background-size: 3.9vmax 3.9vmax;
  /*  display: inline-block; */
    height: 4vmax;
    width: 4vmax;
    cursor: pointer;
    border-radius: 50%;
    margin: 1vh 0 1vh;
    border: 0.1vmax solid var(--text-color);
}

button.flag {
    background-image: url("../img/englandflag3.webp");
    background-size: 3.9vmax 3.9vmax;
}



header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0.5vh 0 0.5vh; */
    text-align: center; 
}

/* Ändra storlek på h1 och h2 i divven */

header div hr {
    height: 20%;
    margin: 0.2vh 0.2vh;


}

main.nav_flexgrid {
    flex: 3 3 auto;
    display: flex;
    width: 80%; /* ev ändra till vw */
   /* min-height: 300px;
    max-height: 500px; */
    flex-flow: row wrap;
}

footer {
    display: none;
    width: 100%; /* ev ändra till vw */
    flex: 0.5 0.5 auto;
}

.statusicons {
    font-size: 3vh;
}


/* min nuvarande idé är att ha en fulltäckande body som är en flexbox
med avseende på y/vertikal/ enkolumnig och bodyn skall bero på viewporten
och fylla hela och om viewporten förändras kommer även itemsen i växa/minska
i vertikal höjd (status_bar, header, nav, footer) och sedan skall contenten inuti
(bilder, text osv) vara baserad på viewporten också vilket leder till att dem
förändrar sig då viewport gör det vilket kommer säkerställa att
containrarna både täcker in alla bilder samt att storlekarna
på containrarna anpassar sig till varandra enligt flex grow och shrink
Containrarna skall alltså INTE ha några definerade höjder men definerade 
bredder vilket går ihop med en enkolumnings parent-flexbox.
Till text skall du använda vmin eller vmax som unit (googla).
En idé kan vara att använda vmax eller vmin till andra element också (som ikoner och bilder)
så du slipper välja mellan vh och vm, men tänk på att vara försiktig
Försök också använda icons från fontawesome så mycket som möjligt*/

/* De delar som skiljer sig från sida till sida bör du skapa olika klasser för så
att det enkelt går att redigera */


/* Om tid finns i slutet av projektet kan du även leka med css animationer där 
du animerar färger vilket du gjort flitigt i halloweenprojektet/mobilsidan utan
att påverka något annat i systemen, eller animerar andra properties*/

/* försök gärna att använda dig av en paralax effekt någonstans, om möjligt */

/* Lägg till en media quierie som typ sätter display: none; på massa klasser/element då 
höjden blir under 200 px eller så dylikt, så att man endast ser header och statusbar elr så,
höj då också vh, vw och vmax/vmin i den media quieries för items inuti*/

/* Istället för att använda dina ikoner till rubriker osv tar du ikoner från material.io och
använder animated icons för att göra riktigt snygga animations när man klickar på dem typ */

